

#menu{
    background:#FFFFFF ;
    text-align: center;
    min-height: 70px;
    position: fixed;
    z-index: 1100;
    border-radius: 12px;
}
#header{
    background-image: url(../graphic/header_background.jpg);
    opacity: 0.9;
    height: 100vh;
    min-height: 100vh !important ;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
}
#menu a{
    text-decoration: none;
    
}
#menu_element{
    color: #1f2021;
    padding: 10px;
    line-height: 70px;
    display: inline;
    border-radius: 10px;
}
#menu_element :hover{
    color: #1f2021;
    padding: 20px;
    background-color: #6693a5;
    line-height: 70px;
    display: inline;
    border-radius: 10px;
}
#menu_element :visited{
    color: #1f2021;
    padding: 20px;
    background-color: #6693a5;
    line-height: 70px;
    display: inline;
    border-radius: 10px;
}


}
#menu_lists{
    position: relative;
    
}
#projects_cointainer{
    text-align: center;
    background-image:url(../graphic/projects_background.jpg);
    opacity: 0.6;
    border-bottom-color: #6e7057;
}
#project{
    background-color: #fcfcf9;
    text-align: center;
    min-height: 70px;
    border-radius: 12px;
    margin: 20px;
}
#education_cointainer{
    min-height: 150px;
    text-align: center;
    background-image:url(../graphic/projects_background.jpg);
    border-bottom-color: #6e7057;
    border-bottom-width: medium;
   
}
#skils_cointainer{
    min-height: 150px;
    text-align: center;
    background-image:url(../graphic/projects_background.jpg);
    opacity: 0.6;
    border-bottom-color: #6e7057;
}
#contact_cointainer{
    min-height: 150px;
    text-align: center;
    background-image:url(../graphic/projects_background.jpg);
    border-bottom-color: #6e7057;
}